
<div class="flex items-center justify-center min-h-screen relative">
  <div class="relative w-full max-w-[650px]">
    <img
        src="/assets/images/final arcade.png"
        alt="Máquina Arcade"
        class="w-full h-auto"
    />

    <a
        href="https://www.google.com/maps/dir//Jardines+La+Clave,+Carretera+Otura+a+D%C3%ADlar+s%2Fn,+18152+D%C3%ADlar,+Granada/@37.0798116,-3.6104058,17z/data=!4m17!1m7!3m6!1s0xd71fa9a365054fd:0x68f8996ef6a2d5da!2sJardines+La+Clave!8m2!3d37.0798073!4d-3.6078309!16s%2Fg%2F11dxkbzhgp!4m8!1m0!1m5!1m1!1s0xd71fa9a365054fd:0x68f8996ef6a2d5da!2m2!1d-3.6078309!2d37.0798073!3e3?entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoASAFQAw%3D%3D"
        target="_blank"
        class="absolute bg-transparent hover hover:bg-opacity-20 transition-all"
        style="
            left: 50%;
            top: 57%;
            width: 40%;
            height: 6%;
            transform: translate(-50%, -50%);
        "
        title="Cómo llegar"
    ></a>
  </div>
</div>
